# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints

# Environments & Secrets
.env
*.env
.envrc
.venv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Streamlit
.streamlit/secrets.toml

# Project specific
logs/
data/
.opencode/
**/temp/*